streamlit
google-generativeai
python-dotenv
langchain
PyPDF2
chromadb
faiss-cpu
langchain_google_genai
langchain-community
pdfplumber
groq
langchain_groq
pyodbc
openpyxl==3.1.2
pandas
upgrade pip
langchain_community

